<?xml version='1.0' encoding='utf-8'?>
<widget id="com.office1789.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Office1789</name>
  <description>Office1789 mobile wrapper (Cordova)</description>
  <author email="dev@office1789.local" href="https://office1789.example">Office1789 Team</author>
  <content src="index.html" />
  <preference name="SplashScreen" value="none" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <preference name="AndroidInsecureFileModeEnabled" value="false" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <access origin="*" />
  <allow-navigation href="*" />
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
  </platform>
  <platform name="ios">
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
  </platform>
</widget>
